In [1]:
import pandas as pd

In [3]:
# load tech normalized data
TechNorm_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m5_survey_data_technologies_normalised.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-wwwcourseraorg-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01"

In [6]:
df = pd.read_csv(TechNorm_url)
df.head(10)

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,C,C,MySQL,MySQL,Linux,Linux,NaN,NaN,Eclipse,NaN,NaN,NaN,NaN
2,4.0,C++,C#,SQLite,SQLite,Windows,Windows,NaN,NaN,Vim,NaN,NaN,NaN,NaN
3,4.0,C#,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,NaN,NaN
4,4.0,Python,SQL,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio Code,NaN,NaN,NaN,NaN
5,4.0,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9.0,Bash/Shell/PowerShell,Bash/Shell/PowerShell,DynamoDB,PostgreSQL,AWS,AWS,Express,Express,Vim,NaN,NaN,NaN,NaN
7,9.0,C#,C,PostgreSQL,Redis,Docker,Docker,Ruby on Rails,Ruby on Rails,NaN,NaN,NaN,NaN,NaN
8,9.0,HTML/CSS,HTML/CSS,SQLite,SQLite,Heroku,Heroku,Other(s):,Other(s):,NaN,NaN,NaN,NaN,NaN
9,9.0,JavaScript,JavaScript,NaN,NaN,Linux,Linux,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# num of rows and duplicates
print(df.shape[0])
print("There are", df.duplicated().sum(), "duplicate rows in this dataset")

74590
There are 0 duplicate rows in this dataset

In [8]:
# check for missing data
missing_data = df.isnull()
missing_data

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,True,True,False,True,True,True,True
2,False,False,False,False,False,False,False,True,True,False,True,True,True,True
3,False,False,False,True,True,True,True,True,True,False,True,True,True,True
4,False,False,False,True,True,True,True,True,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74585,False,False,False,True,True,True,True,True,True,True,True,True,True,True
74586,False,False,False,True,True,True,True,True,True,True,True,True,True,True
74587,False,False,True,True,True,True,True,True,True,True,True,True,True,True
74588,False,False,True,True,True,True,True,True,True,True,True,True,True,True
74589,False,False,True,True,True,True,True,True,True,True,True,True,True,True

In [9]:
df.drop(0, axis=0, inplace=True)
df

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs
1,4.0,C,C,MySQL,MySQL,Linux,Linux,NaN,NaN,Eclipse,NaN,NaN,NaN,NaN
2,4.0,C++,C#,SQLite,SQLite,Windows,Windows,NaN,NaN,Vim,NaN,NaN,NaN,NaN
3,4.0,C#,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,NaN,NaN
4,4.0,Python,SQL,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio Code,NaN,NaN,NaN,NaN
5,4.0,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74585,25142.0,Go,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74586,25142.0,HTML/CSS,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74587,25142.0,PHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74588,25142.0,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74589,25142.0,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Current Technology Usage Tab

In [11]:
# Top 10 LanguageWorkedWith 
df['LanguageWorkedWith'].value_counts().head(10)

JavaScript               8687
HTML/CSS                 7830
SQL                      7106
Bash/Shell/PowerShell    4642
Python                   4542
Java                     4506
C#                       4288
TypeScript               3232
PHP                      2913
C++                      1946
Name: LanguageWorkedWith, dtype: int64

In [12]:
# Top 10 DatabaseWorkedWith 
df['DatabaseWorkedWith'].value_counts().head(10)

MySQL                   5469
Microsoft SQL Server    4110
PostgreSQL              4097
SQLite                  3248
MongoDB                 3016
Redis                   2508
Elasticsearch           1954
Oracle                  1744
MariaDB                 1709
Firebase                1314
Name: DatabaseWorkedWith, dtype: int64

In [13]:
df['PlatformWorkedWith'].value_counts()

Linux                    5811
Windows                  5563
Docker                   4378
AWS                      3588
Slack                    2786
MacOS                    2718
Android                  2693
Microsoft Azure          1711
Raspberry Pi             1614
WordPress                1490
Google Cloud Platform    1454
iOS                      1438
Heroku                   1268
Kubernetes               1238
Arduino                   914
Other(s):                 329
IBM Cloud or Watson       215
Name: PlatformWorkedWith, dtype: int64

In [14]:
df['WebFrameWorkedWith'].value_counts().head(10)

jQuery                4629
Angular/Angular.js    3327
React.js              3302
ASP.NET               3042
Express               2028
Spring                1728
Vue.js                1485
Flask                 1186
Django                1176
Laravel                939
Name: WebFrameWorkedWith, dtype: int64

In [16]:
# Load Demographics File
demo_url ='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m5_survey_data_demographics.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01'

In [17]:
df2 = pd.read_csv(demo_url)
df2

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,25136,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,36.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Difficult
11394,25137,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
11395,25138,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
11396,25141,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Switzerland,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat less welcome now than last year,NaN,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
11397,25142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,30.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy

In [19]:
# check for missing data and duplicates
print(df2.shape[0])
md = df2.isnull()
print("There are", df2.duplicated().sum(), "duplicate rows in this dataset")
md

11398
There are 0 duplicate rows in this dataset

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11394,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11395,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11396,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11397,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [39]:
# respondent classifed by gender
gender = df2.groupby('Gender').count()[['Respondent']]
gender

                                                    Respondent
Gender
Man                                                      10480
Man;Non-binary, genderqueer, or gender non-conf...          26
Non-binary, genderqueer, or gender non-conforming           63
Woman                                                      731
Woman;Man                                                    9
Woman;Man;Non-binary, genderqueer, or gender no...           2
Woman;Non-binary, genderqueer, or gender non-co...          14

In [40]:
# respondent classifed by country
country = df2.groupby('Country').count()[['Respondent']]
country

                                      Respondent
Country
Afghanistan                                    2
Albania                                       12
Algeria                                        3
Argentina                                     71
Armenia                                       12
...                                          ...
Uzbekistan                                     2
Venezuela, Bolivarian Republic of...           7
Viet Nam                                      12
Yemen                                          1
Zimbabwe                                       5

[135 rows x 1 columns]

In [41]:
# respondent classifed by age
age = df2.groupby('Age').count()[['Respondent']]
age

      Respondent
Age
16.0           3
17.0           6
18.0          29
19.0          78
20.0         109
21.0         203
22.0         406
23.0         581
24.0         679
25.0         738
26.0         722
27.0         722
28.0         787
29.0         697
30.0         651
31.0         531
32.0         489
33.0         483
34.0         395
35.0         393
36.0         308
37.0         280
38.0         279
39.0         232
40.0         187
41.0         136
42.0         162
43.0         100
44.0          95
45.0          85
46.0          66
47.0          68
48.0          64
49.0          66
50.0          57
51.0          29
52.0          41
53.0          32
54.0          26
55.0          13
56.0          16
57.0          11
58.0          12
59.0          11
60.0           2
61.0          10
62.0           5
63.0           7
65.0           2
66.0           1
67.0           1
69.0           1
71.0           2
72.0           1
99.0           1

In [53]:
# respondent classifed by gender
gender = df2.groupby('EdLevel').count()[['Respondent']]
gender


# ****** DIFFERENT METHODS TO PRINT COLUMN NAMES IN PANDAS ****** #
# print(df2.columns)
# print(list(df2.columns))
# print(df2.keys())
#for col in df2.columns:
#    print(col)
#sorted(df2)

                                                    Respondent
EdLevel
Associate degree                                           383
Bachelor’s degree (BA, BS, B.Eng., etc.)                  5852
I never completed any formal education                      28
Master’s degree (MA, MS, M.Eng., MBA, etc.)               2706
Other doctoral degree (Ph.D, Ed.D., etc.)                  259
Primary/elementary school                                   27
Professional degree (JD, MD, etc.)                         154
Secondary school (e.g. American high school, Ge...         516
Some college/university study without earning a...        1361